<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 启动注解驱动的spring mvc 功能 -->
    <mvc:annotation-driven/>
    <context:property-placeholder location="classpath:config/fileServer.properties"></context:property-placeholder>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <mvc:interceptors>
            <bean class="cn.hmst.sso.interceptor.HttpInterceptor"/>
            <mvc:interceptor>
                <mvc:mapping path="/admin/*"/>
                <mvc:mapping path="/sys/*"/>
                <mvc:mapping path="/pages/index.html"/>
                <mvc:exclude-mapping path="/login.page"/>
                <mvc:exclude-mapping path="/login.json"/>
                <bean class="cn.hmst.sso.interceptor.LoginInterceptor"/>
            </mvc:interceptor>
    </mvc:interceptors>
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
    <bean class="cn.hmst.sso.exception.SpringExceptionResolver"/>
    <!--配置资源映射-->
    <mvc:resources mapping="/static/**" location="static/"/>
    <mvc:resources mapping="/pages/**" location="/WEB-INF/pages/"/>
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 引用dubbo服务 -->
    <dubbo:application name="hmst-sso-web"/>
    <dubbo:registry protocol="zookeeper" address="120.79.53.121:7007"/>
    <dubbo:reference interface="cn.hmst.sso.service.LoginService" id="loginService"/>
    <dubbo:reference interface="cn.hmst.service.SysUserService" id="sysUserService"/>
</beans>