<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 启动注解驱动的spring mvc 功能 -->
    <mvc:annotation-driven/>
    <context:property-placeholder location="classpath:config/fileServer.properties"></context:property-placeholder>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
        <mvc:interceptors>
            <bean class="cn.hmst.user.comon.HttpInterceptor" />
        </mvc:interceptors>

    <!-- 启动包扫描功能 -->
    <context:component-scan base-package="cn.hmst.user"/>

<!--    <mvc:resources location="/static/js/" mapping="/js/**"/>
    <mvc:resources location="/static/css/" mapping="/css/**"/>
    <mvc:resources location="/static/bootstrap3.3.5/" mapping="/bootstrap3.3.5/**"/>
    <mvc:resources location="/static/assets/" mapping="/assets/**"/>-->
    <!--配置资源映射-->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/fonts/**" location="/fonts/"/>
    <mvc:resources mapping="/assets/**" location="/assets/"/>
    <mvc:resources mapping="/img/**" location="/img/"/>
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
    <bean class="cn.hmst.user.comon.SpringExceptionResolver" />
    <bean class="cn.hmst.user.comon.ApplicationContextHelper" lazy-init="true"></bean>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 引用dubbo服务 -->
    <dubbo:application name="hmst-user-web"/>
    <dubbo:registry protocol="zookeeper" address="120.79.53.121:7011"/>
    <dubbo:reference interface="cn.hmst.service.SysTreesService" id="sysTreesService"/>
    <dubbo:reference interface="cn.hmst.service.SysDeptService" id="sysDeptService"/>
    <dubbo:reference interface="cn.hmst.service.SysUserService" id="sysUserService"/>
    <dubbo:reference interface="cn.hmst.service.SysAclModuleService" id="sysAclModuleService"/>
    <dubbo:reference interface="cn.hmst.service.SysAclService" id="sysAclService"/>
    <dubbo:reference interface="cn.hmst.service.SysRoleService" id="sysRoleService"/>
    <dubbo:reference interface="cn.hmst.service.SysRoleAclService" id="sysRoleAclService"/>
    <dubbo:reference interface="cn.hmst.service.SysRoleUserService" id="sysRoleUserService"/>
    <dubbo:reference interface="cn.hmst.service.SysLogService" id="sysLogService"/>
</beans>