<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!-- 启动注解驱动的spring mvc 功能 -->
    <mvc:annotation-driven/>
    <context:property-placeholder location="classpath:config/fileServer.properties"></context:property-placeholder>

    <!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />-->
<!--
    <mvc:interceptors>
        <bean class="com.hmst.common.HttpInterceptor" />
    </mvc:interceptors>
-->

    <!-- 启动包扫描功能 -->
    <context:component-scan base-package="cn.hmst.controller" />

    <mvc:resources location="/static/js/" mapping="/static/js/**"/>
    <mvc:resources location="/static/css/" mapping="/static/css/**"/>
    <mvc:resources location="/static/images/" mapping="/static/images/**"/>


    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />

    <bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- 引用dubbo服务 -->
    <dubbo:application name="hmst-manager-web"/>
    <dubbo:registry protocol="zookeeper" address="120.79.53.121:7007"/>
   <!-- <dubbo:reference interface="cn.hmst.service.ItemService" id="itemService" />
    <dubbo:reference interface="cn.hmst.service.ItemCatService" id="itemCatService" />
    <dubbo:reference interface="cn.hmst.content.service.ContentCategoryService" id="ContentCategoryService" />
    <dubbo:reference interface="cn.hmst.content.service.ContentService" id="contentService" />-->
</beans>